/*html { font-size: 62.5%; Mac dinh ve gia tri 10px }*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #030303;
}
h1, h2, h3, h4, h5, h6, ul, ol{
	margin: 0;
}
ul, ol{
	padding: 0;
}
.get-started{
	background: url('../images/bg-section1.png') top left no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	padding-bottom: 10px;
}
.title h1{
	text-transform: uppercase;
	color: #e6e7e8;
	font-size: 60px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.get-started .img-screen img{
	margin: auto;
}
.btn-getstarted{
	text-align: center;
}
.btn-getstarted button{
	margin: 30px;
	text-transform: uppercase;
	color: #209bda;
	font-size: 26px;
	background: #0a4969; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0b5176, #094261, #0b5175); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0b5176, #094261, #0b5175); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0b5176, #094261, #0b5175); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0b5176, #094261, #0b5175); /* Standard syntax */
	opacity: 0.75;
	border-top: 2px solid #aeaeae;
	border-bottom: 2px solid #464646;
	border-right: 2px solid #757575;
	border-left: 2px solid #757575;
}
.btn-getstarted button:hover{
	opacity: 0.9;
	border: 2px solid #464646;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
.btn-getstarted button i{
	padding: 5px;
}
.btn-getstarted button i.line{
	border-right: 2px solid #209bda;
}
.btn-getstarted button i.fa-angle-double-right{
	color: #007495;
	font-weight: bold;
	padding-left: 10px;
}
.quality ul.skill, .quality ul.exp{
	list-style: none;
}
.quality ul.skill li{
	width: 100%;
	background: -webkit-linear-gradient(top, #fbfaf8 30%, #c2c1be 70%);
	background: -moz-linear-gradient(top, #fbfaf8 30%, #c2c1be 70%);
	background: -o-linear-gradient(top, #fbfaf8 30%, #c2c1be 70%);
	background: linear-gradient(to bottom, #fbfaf8 30%, #c2c1be 70%);
	font-size: 24px;
	margin-top: 25px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
	     -o-transition: all .3s linear;
	        transition: all .3s linear;
}
.quality ul.skill li i{
	float: left;
	margin-left: -30px;
	color: #ababaa;
	display: none;
	padding: 5px 0;
}
.quality ul.skill li:hover{
	background: -webkit-linear-gradient(top, #c2c1be 30%, #ababaa 70%);
	background: -moz-linear-gradient(top, #c2c1be 30%, #ababaa 70%);
	background: -o-linear-gradient(top, #c2c1be 30%, #ababaa 70%);
	background: linear-gradient(to bottom, #c2c1be 30%, #ababaa 70%);
}
.quality ul.skill li:hover i{
	display: block;
}
.quality ul.exp li{
	width: 100%;
	color: #efefee;
	margin-top: 20px;
	text-transform: capitalize;
	font-size: 40px;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
.quality ul.exp li img{
	width: 80px;
}
.quality ul.exp li:hover{
	/*transform: scale(1.2);*/
	padding-left: 40px;
}
.quality .left-content{
	margin-left: -15px;
}

/*Design*/
.design{
	width: 100%;
	color: #FFFFFF;
	border-bottom: 2px solid #000;
}
.design .cell{
	height: 216px;
	font-size: 36px;
	text-transform: capitalize;
	text-align: center;
	padding: 15px;
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

}
.design .cell:hover{
	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
	        transform: scale(0.9);
}
.design .cell img{
	margin: auto;
}
.design .cell-11{
	background: -webkit-linear-gradient(top, #a5509d 30%, #743e8f 80%); 
	background:    -moz-linear-gradient(top, #a5509d 30%, #743e8f 80%); 
    background:      -o-linear-gradient(top, #a5509d 30%, #743e8f 80%); 
    background:         linear-gradient(to bottom, #a5509d 30%, #743e8f 80%);
	line-height: 164px;
	position: relative;
}
.design .cell-11::after{
	display: block;
	content: "";
	position: absolute;
	z-index: 1;
	height: 50px;
	width: 50px;
	right: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #924998, #874594);
	background: -moz-linear-gradient(top, #924998, #874594);
	background: -o-linear-gradient(top, #924998, #874594);
    background: linear-gradient(to bottom left, #A24F9C, #834393);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    
}
.design .cell-14{
	background: -webkit-linear-gradient(top, #149683 30%, #1bf8d8 80%);
	background: -moz-linear-gradient(top, #149683 30% , #1bf8d8 80%);
	background: -o-linear-gradient(top, #149683 30%, #1bf8d8 80%);
	background: linear-gradient(to bottom, #149683 30%, #1bf8d8 80%);
	position: relative;
	padding: 7%;
}
.design .cell-14::after{
	display: block;
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	left: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #149E8A, #19DBBF);
	background: -moz-linear-gradient(top, #149E8A, #19DBBF);
	background: -o-linear-gradient(top, #149E8A, #19DBBF);
    background: linear-gradient(to bottom left, #149E8A, #19DBBF);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.design .cell-22{
	background: -webkit-linear-gradient(top, #21759a 30%, #2bcbcd 80%);
	background: -moz-linear-gradient(top, #21759a 30% , #2bcbcd 80%);
	background: -o-linear-gradient(top, #21759a 30%, #2bcbcd 80%);
	background: linear-gradient(to bottom, #21759a 20%, #6994e3 50%, #2bcbcd 80%);
	padding-top: 13%;
}
.design .cell-22::after{
	display: block;
	content: "";
	position: absolute;
	z-index: -1;
	height: 50px;
	width: 50px;
	left: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #4383BC, #48B1D7);
	background: -moz-linear-gradient(top, #4383BC, #48B1D7);
	background: -o-linear-gradient(top, #4383BC, #48B1D7);
    background: linear-gradient(to bottom left, #4383BC, #6995E3, #48B1D7);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.design .cell-23{
	background: -webkit-linear-gradient(top, #f95745 30%, #f091c6 80%);
	background: -moz-linear-gradient(top, #f95745 30% , #f091c6 80%);
	background: -o-linear-gradient(top, #f95745 30%, #f091c6 80%);
	background: linear-gradient(to bottom, #f95745 30%, #f091c6 80%);
	padding-top: 13%;
}
.design .cell-23::after{
	display: block;
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	right: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #F85C50, #F382A4);
	background: -moz-linear-gradient(top, #F85C50, #F382A4);
	background: -o-linear-gradient(top, #F85C50, #F382A4);
    background: linear-gradient(to bottom left, #F85C50, #F382A4);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.design .cell-31{
	background: -webkit-linear-gradient(top, #c8c225 30%, #8c8a28 80%);
	background: -moz-linear-gradient(top, #c8c225 30% , #8c8a28 80%);
	background: -o-linear-gradient(top, #c8c225 30%, #8c8a28 80%);
	background: linear-gradient(to bottom, #c8c225 30%, #8c8a28 80%);
	padding: 7%;
}
.design .cell-31::after{
	display: block;
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	right: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #C5C025, #9B9827);
	background: -moz-linear-gradient(top, #C5C025, #9B9827);
	background: -o-linear-gradient(top, #C5C025, #9B9827);
    background: linear-gradient(to bottom left, #C5C025, #9B9827);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.design .cell-34{
	background: -webkit-linear-gradient(top, #4a63f6 30%, #13c9f5 80%);
	background: -moz-linear-gradient(top, #4a63f6 30% , #13c9f5 80%);
	background: -o-linear-gradient(top, #4a63f6 30%, #13c9f5 80%);
	background: linear-gradient(to bottom, #4a63f6 30%, #13c9f5 80%);
	padding: 7%;
}
.design .cell-34::after{
	display: block;
	content: "";
	position: absolute;
	height: 50px;
	width: 50px;
	left: -25px;
	top: 50%;
    margin-top: -25px;
    background: -webkit-linear-gradient(top, #466BF6, #20B0F5);
	background: -moz-linear-gradient(top, #466BF6, #20B0F5);
	background: -o-linear-gradient(top, #466BF6, #20B0F5);
    background: linear-gradient(to bottom left, #466BF6, #20B0F5);
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/*Work*/
.work{
	background: -webkit-linear-gradient(top, #f8f8f8, #949492);
	background: -moz-linear-gradient(top, #f8f8f8, #949492);
	background: -o-linear-gradient(top, #f8f8f8, #949492);
	background: linear-gradient(to bottom, #f8f8f8, #949492);
}
.work .title h1{
	color: #030303;
	padding-bottom: 20px;
}
.work #owl-quandt .item img{
	margin: auto;
}

/*testimonials*/

.testimonials{
	background: url('../images/bg-tes.png') top left no-repeat;
	color: #ffffff;
	text-align: center;
	background-position: center;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	min-height: 700px;
	margin-top: -10px;
}

.work-start{
	background: url('../images/bg-work.png') top left no-repeat;
	min-height:500px;
	background-position: center;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-top: -10px;
}
.work-start .btn-getstarted{
	padding-top: 15%;
}
.contact{
	width: 70%;
	margin: auto;
}
.contact .title{
	margin-bottom: 30px;
}
.contact .title h1{
	color: #030303;
}
.contact .control-label{
	text-align: left;
}
.contact .form-contact input, .contact .form-contact textarea{
	width: 95%;
	float: left;
}
.contact .form-contact .required{
	line-height: 40px;
	width: 5%;
	float: right;
	padding-left: 10px;
	color: red;
} 
.contact .form-contact .btn-send{
	background-color: #5395af;
	padding: 10px 40px;
	text-transform: uppercase;
	color: #FFF;
	-webkit-transition: all 0.3s linear;
	   -moz-transition: all 0.3s linear;
	     -o-transition: all 0.3s linear;
	        transition: all 0.3s linear;
}
.contact .form-contact .btn-send:hover{
	background-color: #14679c;
}

.footer{
	background: url('../images/bg-footer.jpg');
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center;
	height: 280px;
	position: relative;

}
.footer .logo{
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -73px;
}
.footer .logo img{
	margin: auto;
}

.padding-none{
	padding: 0;
}

/*Mobile*/

@media only screen and (max-width: 992px){
	.contact{
		width: 90%;
	}
}